@model Skeeetch.Models.Business

@{
    ViewBag.Title = "Business";
}
<br />
<h2>Your selection</h2>

<div>
    <h4>Based on your serch criteria this is where you want to be tonight!</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
        </dt>
        <dd class="bigBoldText">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            <img id="myImage1" src="@Html.DisplayFor(model => model.ImageUrl)" />
        </dd>

        <dt>
            Phone:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayPhone)
        </dd>
        <dt>
            Adress:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationInfo.DisplayAddress[0])
            @Html.DisplayFor(model => model.LocationInfo.City)
        </dd>
        <dt>
           
        </dt>
        <dd>
            <input type="button" value="Again!" class="btn btn-outline-dark" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
        </dd>
    </dl>
</div>

