@model Skeeetch.Models.DocumentRoot

@{
    ViewBag.Title = "KeywordView";
}
<br />
<h2>Selection Time!</h2>

<div>
    <h4>Here are the top three options based on your selection input. They are being represented by the key sentiment keywords from user's reviews of the establishments. Click on the one that most speaks to you to see where you will end up!</h4>
    <br />
    <dl class="dl-horizontal">

        @*@Html.DisplayNameFor(model => model.Documents.FirstOrDefault().YelpId)*@


        <dd class="boxyBox3">
            <div class="bigBoldText">
                <a href="@Url.Action("Business", "Search", new { YelpId = 0})" class="button hvr-pulse-grow">
                    @for (int i = 0; i < 3; i++)
                    {
                        @Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[i])

                        <br />
                    }
                </a>
            </div>

        </dd>

        <dd class="boxyBox3">
            <div class="bigBoldText">
                <a href="@Url.Action("Business", "Search", new { YelpId = 1})" class="button hvr-pulse-grow">
                    @for (int i = 0; i < 3; i++)
                    {
                        {
                            @Html.DisplayFor(model => model.Documents.ElementAt(1).KeyPhrases[i])
                            <br />

                        }
                    }
                </a>
            </div>
        </dd>

        <dd class="boxyBox3">
            <div class="bigBoldText">
                <a href="@Url.Action("Business", "Search", new { YelpId = 2})" class="button hvr-pulse-grow">
                    @for (int i = 0; i < 3; i++)
                    {
                        {

                            @Html.DisplayFor(model => model.Documents.ElementAt(2).KeyPhrases[i])

                            <br />
                        }

                    }
                </a>
            </div>
        </dd>

    </dl>
   
</div>
